[submodule "nest-space"]
	path = nest-space
	url = git@github.com:robence/nest-space.git
[submodule "nexus-tutorial"]
	path = nexus-tutorial
	url = git@github.com:robence/nexus-tutorial.git
[submodule "graphql-apollo-server"]
	path = graphql-apollo-server
	url = git@github.com:robence/graphql-apollo-server.git
[submodule "deno-graphql-example"]
	path = deno-graphql-example
	url = git@github.com:robence/deno-graphql-example.git
